<article style="display:grid">
  <section  style="grid-column:1" >
    {% include ext_link.html text="Marie Farrell" link="https://orcid.org/0000-0001-7708-3877" %}
</section>
<section style = "grid-column:2">
Maynooth University, Ireland
</section>

<section style="grid-column:3">
    {% include ext_link.html text="Martin Feather" link="https://www.linkedin.com/in/martin-feather-76116b/detail/contact-info/" %}
</section>
<section style = "grid-column:2">
Jet Propulsion Laboratory, California Institute of Technology, USA
</section>

<section style="grid-column:3">
    {% include ext_link.html text="Natalia Alexandrov" link="https://www.linkedin.com/in/natalia-alexandrov-a989b287/" %}
</section>

<section style = "grid-column:2">
NASA Langley Research Center, USA
</section><section style="grid-column:3">
    {% include ext_link.html text="James Kaufman" link="https://www.linkedin.com/in/jameskaufman/" %}
</section>
<section style = "grid-column:2">
The Aerospace Corp., USA
</section>
</article>
<br>
